@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: "Montreal";
  src: url(Montreal.ttf);
}
@font-face {
  font-family: "Base";
  src: url(Base.otf);
}

* {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  box-sizing: border-box;
  color: white;
  font-family: "Base";
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--background);
}

:root {
  --headings: 2rem;
  --main-heading: 3rem;
  --paragraph: 1rem;
  --padding: 20px;
  --background: #0f0e0f;
  --montreal: "Montreal";
  --inter: "Inter", sans-serif;
}

h1 {
  font-size: var(--main-heading);
}
p{
  font-family: var(--montreal);
}
.mask{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn {
  background-color: #ffffff;
  color: black;
  padding:7px 20px;
  border-radius: 35px;
  border: none;
  outline: none;
  font-size: var(--paragraph);
  font-family: "Base";
  cursor: pointer;
  font-weight: 700;
  transition: background-color .1s ease, color .1s ease;
}
.btn:is(:hover, :focus, :active){
  background-color: #167bff;
  color: white;
  transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* HEADER SECTION */
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px var(--padding);
  position: relative;
  background-color: var(--background);
  position: fixed;
  top: 0;
  z-index: 1000;
}

/* HERO SECTION */
.hero-section {
  height: 90vh;
  width: 100%;
  position: relative;
  padding-inline: var(--padding);

  .hero-content {
    position: absolute;
    bottom: 0;

    h1 {
      font-size: 7vw;
      font-weight: 700;
      line-height: 6vw;
    }
  }
  
}

/* INTRO SECTION */
.intro-section {
  padding: var(--padding);
  margin-top: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .intro-left {
    width: 40%;
    h1 {
      font-size: var(--headings);
    }
  }
  .intro-right {
    width: 60%;
  }
}

/* PROJECT SECTION */
.project-section {
  padding: 10px;
  margin-top: 10vh;
  border-top: 0.5px solid white;

  .project-heading {
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .project-container {
    width: 100%;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 40px 10px;
    margin-top: 5vh;

    .project {
      height: 90vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2vh;

      .img {
        height: 90%;
        object-position: top;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}

/* ABOUT SECTION */
.about-section {
  height: 70vh;
  width: 100%;
  padding: calc(var(--padding) * 2);
  margin-top: 10vh;
  display: grid;
  place-items: center;

  p {
    text-align: center;
    font-size: calc(var(--paragraph) * 1.5);
  }
}

/* FOOTER */
footer {
  height: 70vh;
  width: 100%;
  padding: var(--padding);
  margin-top: 10vh;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .footer-heading {
    display: flex;
    justify-content: space-between;
    align-items: end;

    p {
      font-size: 2rem;
      font-family: "Base";
    }

    .footer-heading-left {
      display: flex;
      width: 60%;
      flex-direction: column;
      gap: var(--paragraph);

      h1{
        font-size: calc(var(--headings)*1.3);
        line-height: 3.5vw;
      }
    }
  }

  .links{
    display: flex;
    justify-content: space-between;
    a {
      text-decoration: none;
      font-size: var(--main-heading);
      text-transform: lowercase;
      font-family: var(--montreal);
    }
  }
}
