@font-face {
  font-family: "Base";
  src: url();
}

@font-face {
  font-family: "Founders";
  src: url(Founders.ttf);
}
@font-face {
  font-family: "Montreal";
  src: url(Montreal.ttf);
}
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: white;
  font-family: var(--Montreal);
}
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-rich-black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--Ivory);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --Futura: "Futura";
  --bg-rich-black: #101415;
  --Ivory: #fff;
  --Sans: sans-serif;
  --Montreal: "Montreal";
  --Founders: "Founders";
  --Link-size: clamp(2rem, 4vw, 2rem);;
  --P-size: clamp(1.1rem, 1vw, 2rem);
  --h-size: clamp(5rem, 5.6vw, 6rem);
  --brown: #1f1d1d;
}
::selection {
  background-color: var(--Ivory);
  color: #101415;
}
body {
  background-color: var(--bg-rich-black);
  overflow-x: hidden;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  left:0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  font-size: var(--Link-size);
  background-color: #101415;
  z-index: 1500;
}

header ul {
  display: flex;
  list-style: none;
  gap: 5rem;
}

ul li a {
  text-decoration: none;
  font-size: var(--link-size);
  position: relative;
}
ul li a::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 0%;
  height: 0.5px;
  background-color: white;
  transition: width 0.2s ease-in;
}
ul li a:hover::after {
  width: 100%;
  transition: width 0.3s ease;
}
ul li a:active::after {
  width: 100%;
}
.btn {
  font-size: 2rem;
  cursor: pointer;
}

/* SIDEBAR */

.menu-open {
  position: absolute;
  top: 10px;
  right: 20px;
  display: none;
  z-index: 1000;
}
.menu-close {
  background-color: #101415;
  color: white;
  display: none;
  z-index: 1000;
}
.sidebar {
  position: fixed;
  top: 0;
  right: -20%;
  background-color: #101415;
  backdrop-filter: blur(20px);
  height: 100vh;
  width: 20%;
  z-index: 1000;
  padding: 20px;
}
.sidebar ul {
  list-style: none;
  font-size: var(--Link-size);
  display: flex;
  flex-direction: column;
  gap: 5vh;
  margin-block: 10vh;
}

/* HERO SECTION */
.hero-section {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  position: relative;
}
video{
  height: 80%;
  width: 50%;
  object-fit: cover;
  filter: brightness(0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.text{
  font-size:22vw;
  font-family: var(--Founders);
  text-transform: uppercase;
  line-height:8vw;
  position: absolute;
  padding-inline: 20px;
  color: var(--Ivory);
}
#text1{
  top: 40%;
  left: 0;
}
#text2{
  left: 0%;
  bottom: 10%;
}

.masker {
  overflow: hidden;
  width: 100%;
}

/* ABOUT SECTION */
.about-section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 30vh;
  gap: 1rem;
  padding: 1.5rem ;
  overflow: hidden;
  position: relative;
}
.about-image{
  position: absolute;
  height: 100%;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  .img{
    border: none;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.6);
  }
}
.about-left {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
}
.about-left h1 {
  font-size: var(--h-size);
  font-family: var(--Founders);
  line-height: clamp(4rem, 3vw, 4rem);
  color: var(--Ivory);
  letter-spacing: 1px;
  text-transform: uppercase;
}
.buttons {
  display: flex;
  gap: 5vh;
}
.buttons i {
  color: var(--Ivory);
}
.about-btn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  
  i{
    font-size: 3rem;
  }
}


.about-right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 2rem;
  z-index: 100;
  padding-block: 10px;
}
.about-right p {
  font-size: var(--P-size);
  line-height: 2vw;
  font-weight: 500;
  text-align: justify;
  color: var(--Ivory);
}

/* PROJECTS SECTION */

.project-section {
  width: 100%;
  padding: 20px 10px;
}

.project-heading{
  margin-top: 30vh;
  padding-inline: 20px;
}

.project-heading h1 {
  font-size: calc(var(--h-size) * 2.5);
  text-transform: uppercase;
  color: var(--Ivory);
  font-family: var(--Founders);
}

.project-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 2vh;
  /* margin-top: 5vh; */

  .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: var(--Ivory);
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 3px 3px 20px var(--Ivory);

    a {
      color: var(--bg-rich-black);
      font-family: var(--Founders);
      font-size: 2rem;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
  .btn:hover {
    background-color: #1f1d1d;
    transition: all 0.3s ease;
  }
  .btn:hover a {
    color: #ffffff;
  }
}
.project {
  height: 100vh;
  width: 40%;
  flex: auto;
  position: relative;
  overflow: hidden;
}
.overlay {
  font-size: calc(var(--h-size) * 1.2);
  font-weight: 300;
  z-index: 100;
  font-family: var(--Founders);
  transform: translateY(200px);
  transition: transform 0.2s ease-in;
  text-transform: uppercase;
}
.mask {
  /* background-color: salmon; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 100;
  overflow: hidden;
}
.project:hover .overlay {
  transform: translateY(0);
  transition: transform 0.3s ease-out;
}
.project:hover .img {
  filter: brightness(0.5);
  transition: filter 0.2s ease-out;
}
.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  position: relative;
  filter: brightness(1);
  transition: filter 0.3s ease;
}

/* CASE STUDY */
.case-study-section {
  width: 100%;
  margin-top: 30vh;
  padding: 20px 10px;
}
.case-study-section h1 {
  font-family: var(--Founders);
  font-size: calc(var(--h-size) * 2);
  color: var(--Ivory);
  text-align: center;
  text-transform: uppercase;
}

/* VALHALLA SECTION, MUSIC SECTION */
.case{
  height: 100dvh;
  width: 100%;
  position: relative;
  margin-inline: auto;
  margin-top: 10vh;
}
#case2{
  margin-top: 20vh;
}

.case-image {
  height: 100%;
  width: 100%;
  border: none;
}

.case-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.masker{
  overflow:hidden;
}

.case:hover img{
  filter: brightness(0.3);
}
.case:hover .case-heading h1{
  transform: translateY(0px);
  transition: transform 0.3s ease;
}


.case-heading h1 {
  font-size: var(--h-size);
  color: var(--Ivory);
  text-transform: uppercase;
  font-family: var(--Founders);
  transform: translateY(200px);
  transition: transform 0.3s ease;
}



/* CONTACTS SECTION */
.contact-section {
  height: 80vh;
  width: 100%;
  padding: 10px;
  margin-top: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-left {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2vw;

  .btn {
    background-color: var(--Ivory);
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px 10px;
    width: 40%;
    
    a {
      font-family: var(--Founders);
      font-size:2rem;
      text-transform: uppercase;
      font-weight: 900;
      text-decoration: none;
      color: var(--bg-rich-black);
    }
  }
  .btn:hover {
    background-color: #1f1d1d;
    transition: all 0.2s ease;
  }
  .btn:hover a {
    color: #ffffff;
  }
}
.contact-content h1 {
  font-size: 10vw;
  font-family: var(--Founders);
  text-transform: uppercase;
}
.contact-content p {
  font-size: var(--P-size);
  font-weight: 400;
}

.contact-right {
  height: 80%;
  width: 50%;
  padding: 20px;
  position: relative;

  h1 {
    font-size: 3vw;
    font-family: var(--Founders);
    text-transform: uppercase;
    text-align: center;
  }
}

.links-container {
  height: 50%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2vw;
  margin-top: 2vw;

  .link {
    display: flex;
    gap: 1vw;
    align-items: start;
    border-bottom: 1px solid var(--Ivory);

    .link-icon i{
      font-size: 2rem;
    }

    .link-name {
      cursor: pointer;
      font-size: 2rem;
      font-family: var(--Founders);
    }
    .link-name:hover {
      color: #534b4b;
      transition: all 0.2s ease;
    }
  }
}

@media  (min-device-width: 900px) and (max-device-width: 1200px) {
  header {
    opacity: 0;
    visibility: hidden;
  }
  .logo {
    opacity: 1;
    visibility: initial;
  }
  .menu-open,
  .menu-close {
    display: block;
  }
  .hero-section {
    .text {
      font-size: 25vw;
      line-height: 20vw;
    }
    #textp {
      font-size: 2.5vw;
    }
  }

  .about-section {
    margin-top: 10vh;
    height: 80vh;

    .about-left h1 {
      line-height: 50px;
    }
    .about-right p {
      font-size: 1.8vw;
    }
  }
  .project-heading {
    margin-top: 40vh;
  }
  .project-section {
    .project-container {
      margin-top: 2vh;
    }
    .project {
      height: 70vh;
    }
  }

  .case-study-section {
    margin-top: 10vh;

    .valhalla-section,
    .music-section {
      height: 80vh;
      margin-top: 5vh;
    }
  }

  .contact-section {
    margin-top: 10vh;

    .contact-left {
      justify-content: center;
    }
    .contact-right h1 {
      margin-top: 5vh;
    }

    .links-container {
      margin-top: 1vw;

      .link {
        align-items: center;
      }
    }
  }
}

@media (min-device-width: 600px) and (max-device-width: 900px) {
  header {
    opacity: 0;
    visibility: hidden;
  }
  .logo {
    opacity: 1;
    visibility: initial;
  }
  .menu-open,
  .menu-close {
    position: fixed;
    display: block;
  }

  .hero-section {
    height: 80vh;
    .hero {
      top: 30%;
    }

    .text {
      font-size: 25vw;
      line-height: 19vw;
    }
    #textp {
      font-size: 2vw;
    }
  }

  .about-section {
    height: 75vh;

    .about-left h1 {
      font-size: 7vw;
      line-height: 50px;
    }
    .about-right {
      gap: 2vw;
    }

    .about-right p {
      font-size: 1.7vw;
    }

    .buttons .about-btn {
      font-size: 4vw;
    }
  }

  /* .project-heading{
    h1{

    }
  } */
}
